
OOP_Algebro_HR_Management_Website/.vs/OOP_Algebro_HR_Management_Website/FileContentIndex/e53eb3f6-d99c-4ffe-a964-1cbfa82b0825.vsidx
/OOP_Algebro_HR_Management_Website/.vs/OOP_Algebro_HR_Management_Website/FileContentIndex/147924bb-3189-4260-b626-db310152d328.vsidx
*.vsidx
/OOP_Algebro_HR_Management_Website/.vs/OOP_Algebro_HR_Management_Website/v17
/ApplicantManagement/bin/Debug
/OOP_Algebro_HR_Management_Website/.vs
/ApplicantManagement/bin
*.dll
*.pdb
*.cache
*.json
/OOP_Algebro_HR_Management_Website/.vs
